@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
div {
  margin: 0px;
  padding: 0px;
}

/* Theme */

:root {
  --bg-color: white;
  --fg-color: black;
  --begin-button-hover: #3cb0ff;
  --code-area-bg-color: #AAA;
  --select-bg-color: #EEE;
  --transition-time: 0s; /* Modified via js */
  --displaylatex: none;
  --displayhtml: none;
}

[data-theme="dark"] {
  --bg-color: black;
  --fg-color: white;
  --begin-button-hover: green;
  --code-area-bg-color: #222;
  --select-bg-color: #111;
}

[data-display-latex="true"] {
  --displaylatex: block;
}

[data-display-html="true"] {
  --displayhtml: block;
}

/* Global */

html {
  transition: color var(--transition-time);
  transition: background-color var(--transition-time);
  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: Arial;
  scroll-behavior: smooth;
}

html, body {
  margin:0;
  padding:0;
}

/* Layout */

.displaylatex {
  display: var(--displaylatex) !important;
  overflow: auto;
  min-height: 0
}

.displayhtml {
  display: var(--displayhtml) !important;
  overflow: auto;
  min-height: 0;
  background-color: white;
}

.gutter {
  min-width:12px;
  min-height:4px;
}

.container {
  /*overflow: hidden;*/
  min-height: 0
}

.container.vertical {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container.horizontal {
  display: flex;
  flex-direction: row;
}

@media all and (orientation:portrait) {
  .container.device-orientation {
    display: flex;
    flex-direction: column;
  }
}
@media all and (orientation:landscape) {
  .container.device-orientation {
    display: flex;
    flex-direction: row;
  }
}

.flex {
  flex-grow:1;
  flex-shrink: 1;
}

.nonflex{
  flex-grow: 0;
  flex-shrink: 0;
}

.y-scrollable {
  overflow-x: auto;
}

.fullscreen {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

.fill_space {
  width:100%;
  height:100%;
  overflow: auto;
  min-height: 0
}

/* landing page */

#landing_page {
  position:relative
}

#landing_page_content {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#landing_page_content h1 {
  font-size:20vmin;
  margin:0;
  padding:0;
  transition: text-shadow 1s ease-in-out 1s;
}

#landing_page_content h1:hover {
  text-shadow:
            +0px   0px   15px   var(--bg-color),
            +0px   -15px   20px   rgba(255,0,0,0.5),
           -15px   +10px   20px   rgba(0,255,0,0.5),
           +10px   +15px   20px   rgba(0,0,255,0.5);
}

#landing_page_content h2 {
  font-weight:normal;
  font-size:4vmin;
  margin:0;
  padding:0;
  margin-top:-4vmin;
  margin-left:1vmin;
}

#landing_page_content p {
  font-size:5vmin;
  white-space: nowrap;
}

#landing_page_content a {
  font-size:10vmin;
}

#version {
  font-size:4vmin;
  margin:1vmin;
}

/* begin button */ 

#begin_button {
  border-radius: 2vmin;;
  font-family: Arial;
  font-size: 10vmin;
  padding: 1.5vmin;
  text-decoration: none;
}

#begin_button:hover {
  text-decoration: none;
}

/* Style button */

#style_button {
  position: absolute;
  right: 0;
  top: 0;
  font-size:4vmin;
  font-weight:lighter;
  margin:1vmin;
  padding:1vmin;
  border-radius: 0.5vmin;
  opacity:0.8;
}

#style_button:hover {
  opacity: 1;
  cursor:pointer;
}

#style_button, #links a {
  background-color:var(--fg-color);
  color:var(--bg-color);
}

/* Links */

#links {
  position: absolute;
  left: 0;
  top: 0;
}

#links a {
  display:block;
  margin:1vmin;
  padding:1vmin;
  font-size:3vmin;
  text-decoration:none;

  margin-left:0;
  background-color:var(--fg-color);
  color:var(--bg-color);
  border-radius: 0 0.5vmin 0.5vmin 0;
  opacity:0.8;
}

#links a:hover {
  opacity:1.0;
}

/* Application area */

textarea {
  font-variant-numeric: tabular-nums lining-nums;
  font-family: monospace, monospace;
  font-size: 1em;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

#input, #output, #errors, #menu_bar, #latex, #html {
  display:block;
  color:var(--fg-color);
  background-color:var(--bg-color);
  border:0px solid;
  box-shadow: 0px 0.5vmin 0.5vmin 0 rgba(0,0,0,0.4);
  overflow-y: auto;
  min-height: 0;
  white-space: pre;
}

/* menu bar */

#menu_bar {
  display: flex;
}

.menu_bar_submenu {
  margin: 0px;
  padding:12px;
  display:inline-block;
  border-right: 1px solid black;
  vertical-align: center;
  white-space: nowrap;
}

select {
  font:inherit;
  size:50px;
}

.option {
  margin:auto;
  padding:auto;
  padding-right:3px;
  padding-left:3px;
}

select {
  border: 0;
  padding: 7px;
}

option {
  border: 0;
  padding: 7px;
  margin: 7px;
}

#input, #output, #latex, #html{
  padding: 7px;
  margin: 7px;
}

#input, #output, #errors, #menu_bar {
  color:var(--fg-color);
  background-color:var(--bg-color);
  border:0px solid;
  box-shadow: 0px 0.5vmin 0.5vmin 0 rgba(0,0,0,0.4);
}

#begin_button {
  border:1vmin var(--fg-color) solid;
  color: var(--fg-color);
  padding: 10px;
}

#begin_button:hover {
  background-color: var(--begin-button-hover);
}

#code_area {
  background-color: var(--code-area-bg-color);
  tab-size:2;
}

#menu_bar {
  margin-bottom: 1vmin;
}

select, option {
  color: var(--fg-color);
  background-color:var(--select-bg-color);
}
