body {
  color: black;
}

#input, #output, #errors, #menu_bar {
  color:black;
  background-color:white;
  border:0px solid;
  box-shadow: 0px 0.5vmin 0.5vmin 0 rgba(0,0,0,0.4);
}

#landing_page {
  background-color:white;
}

#begin_button {
  color: #ffffff;
  color:black;
  border:1vmin black solid;
}

#begin_button:hover {
  background: #3cb0fd;
}

#code_area {
  background-color:#AAA;
}

#menu_bar {
  margin-bottom: 1vmin;
}

.menu_bar_submenu {
  border-right: 1px solid gray;
}

#style_button, #links a {
  background-color:black;
  color:white;
}
