html {
  font-family: Arial;
  scroll-behavior: smooth;
}

html, body {
  margin:0;
  padding:0;
}

textarea {
  font: "Lucida Console", Monaco, monospace;
}

.gutter {
  min-width:12px;
  min-height:12px;
}

.container.vertical {
  display: flex;
  flex-direction: column;
}

.container.horizontal {
  display: flex;
  flex-direction: row;
}

.fullscreen {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

.fill_space {
  width:100%;
  height:100%;
}

#input, #output, #errors {
  display:block;
  padding:10px;
  background-color:#FFF;
  border:solid 1px black;
}

#input, #output {
  flex:1;
}

#inputoutput {
  flex:1;
}

#landing_page {
  background-color:white;
  position:relative
}

#landing_page_content {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#landing_page_content h1 {
  font-size:20vmin;
  margin:0;
  padding:0;
}

#landing_page_content h2 {
  font-weight:normal;
  font-size:4vmin;
  margin:0;
  padding:0;
  margin-top:-4vmin;
  margin-left:1vmin;
}

#landing_page_content p {
  font-size:5vmin;
  white-space: nowrap;
}

#landing_page_content a {
  font-size:10vmin;
}

#begin_button {
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 12px 12px 12px 12px;
  text-decoration: none;
  color:black;
  border:1vmin black solid;
}

#begin_button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#code_area {
  background-color:#888;
}

#menu_bar {
  background-color:#EEE;
  border:1px solid gray;
}

#menu_bar_submenu {
  padding:12px;
  display:inline-block;
  border-right: 1px solid gray;
}

select {
  font:inherit;
  size:50px;
}
