html {
  font-family: Arial;
  scroll-behavior: smooth;
}

html, body {
  margin:0;
  padding:0;
}

textarea {
  font: "Lucida Console", Monaco, monospace;
}

.gutter {
  min-width:12px;
  min-height:12px;
}

.container.vertical {
  display: flex;
  flex-direction: column;
}

.container.horizontal {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1;
}

.fullscreen {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

.fill_space {
  width:100%;
  height:100%;
}

#input, #output, #errors {
  display:block;
  padding:10px;
}

#landing_page {
  position:relative
}

#landing_page_content {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#landing_page_content h1 {
  font-size:20vmin;
  margin:0;
  padding:0;
}

#landing_page_content h2 {
  font-weight:normal;
  font-size:4vmin;
  margin:0;
  padding:0;
  margin-top:-4vmin;
  margin-left:1vmin;
}

#landing_page_content p {
  font-size:5vmin;
  white-space: nowrap;
}

#landing_page_content a {
  font-size:10vmin;
}

#version {
  font-size:2em;
  margin:0.3em;
}

#begin_button {
  border-radius: 16px;
  font-family: Arial;
  font-size: 60px;
  padding: 12px 12px 12px 12px;
  text-decoration: none;
}

#begin_button:hover {
  text-decoration: none;
}

.menu_bar_submenu {
  padding:12px;
  display:inline-block;
}

select {
  font:inherit;
  size:50px;
}

.option {
  margin:0px;
  padding:0px;
  padding-right:3px;
  padding-left:3px;
}

#style_button {
  position: absolute;
  right: 0;
  top: 0;
  font-size:2vmin;
  font-weight:lighter;
  margin:1vmin;
  padding:1vmin;
  border-radius: 0.5vmin;
  opacity:0.8;
}

#style_button:hover {
  opacity: 1;
  cursor:pointer;
}

select {
  border: 0;
  padding: 7px;
}

option {
  border: 0;
  padding: 7px;
  margin: 7px;
}

input {
  padding: 7px;
  margin: 7px;
}
